h1 {
  text-align: center;
  color:#141414;
  font-size: 100px;
}

h2 {
  font-size:50px;
}

a{
  font-size:20px;
}

a:active {
  color: white
}

h1, h2, a, th, td {
  font-family: 'PT Sans Caption',
  sans-serif;
  visibility: visible;
}

ul {
  list-style-type:square;
  font-size:30px
}

body {
  background-color:#4089ff
}

#resp-iframe {
  position: relative;
  overflow: hidden;
  padding-top: 2.25%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

img{
  width:500px
}
